.main__aboutUs{
    height: 100vh;
}

.wrapper__aboutUs {
    
    width: 80%;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    margin-top: 6rem;
    gap: 100px;
    flex-direction: row;
    justify-content: center;
    @media (max-width:40rem) {
        flex-direction: column;
        margin: 0 auto;
        gap: 20px;
    }

    }
.aboutUs__Text{
    width: 60%;
    align-items: center;
   
    @media (max-width:40rem) { 
    width: 100%;
    }
}

.about__img_img{
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);
        border-radius: 15px;
}

.aboutUs__img{
    width: 30%;
        border-radius: 15px;
    
    @media (max-width: 600px) {
        justify-content: center;
            width: 70%;
            padding-top: 2rem;
            margin: 0 auto;
        }
}
.Text__h1{
    text-align: center;
}
.aboutUs__img__h4{
    text-align: center;
}