.main__ps5{
    height: 100vh;
}
.ps5__container{
    width: 80%;
        height: 70vh;
        margin: 0 auto; 
}

.carousel__wrapper__game {
    padding: 1em;
    margin: 0 auto;
    width: 80%;
    text-align: center;

    @media (max-width: 600px) {
        width: 60%;
        margin: 1rem auto;
    }
}