/* Section 1 */
img {
  width: 100%;
}
.wrapper {
  padding: 1em;
  margin: 0 auto;
  width: 80%;
}
.intro-content {
  width: 100%;
  @media (min-width: 40rem) {
    width: 60%;
  }
}

.row {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  /* Gap create space bettwen layout */
  gap: 50px;
}
@media (min-width: 40rem) {
  .row {
    flex-direction: row;
  }
}

.col {
  width: 100%;
}

.btn {
  display: inline-block;
  text-decoration: none;
  color: white;
  background-color: var(--mainColor);
  padding: 1em 2em;
  cursor: pointer;
  border-radius: 80px;
  font-size: 2vmin;
}

.btn:hover,
.btn:focus {
  opacity: 0.8;
}

a:hover {
  color: var(--secondaryColor);
}

nav a:hover {
  color: var(--secondaryColor);
}
.hero-title {
  font-size: 6vmin;
  text-transform: uppercase;
}
.hero-text {
  font-size: 2.5vh;
  margin: 1.5rem 0;
  width: 60%;
}
.hero__img {
  width: 40%;
  align-self: flex-start;
}
/* Setion 2 */

.sale_points {
  padding: 12vh 0;
  text-align: center;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}

@media (min-width: 40rem) {
  .sale_points {
    flex-direction: row;
  }
}

.sale_point {
  margin: 0 1vw;
}
