.hero {
  height: 80vh;
  /* background-image: url("./components/images/GOW\ PP1.jpeg"); */
  background-size: 100%;
  background-repeat: no-repeat;
}
@media (max-width: 768px) {
  .hero {
    background-position: top;
    height: 80vh;
    background-size: cover;
  }
}
