@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Anton", sans-serif;
}

:root {
  --mainColor: #dc192b;
  --mainColorLighter: #5767aa;
  --secondaryColor: #110011;
  --textColor: #eee;
}
